@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: Ionicons;
    src: url('../fonts/Ionicons/Ionicons.ttf');
}

@font-face {
    font-family: Lato;
    src: url('../fonts/Lato/Lato-Regular.ttf');
}

@font-face {
  font-family: Lato Bold;
  src: url('../fonts/Lato/Lato-Bold.ttf');
}

@font-face {
  font-family: Lato Bold Italic;
  src: url('../fonts/Lato/Lato-BoldItalic.ttf');
}

@font-face {
  font-family: Merriweather Bold;
  src: url('../fonts/Merriweather/Merriweather-Bold.ttf');
}

@font-face {
  font-family: Merriweather Italic;
  src: url('../fonts/Merriweather/Merriweather-Italic.ttf');
}

@font-face {
  font-family: Merriweather;
  src: url('../fonts/Merriweather/Merriweather-Regular.ttf');
}

@font-face {
  font-family: Montserrat Semi Bold;
  src: url('../fonts/Montserrat/Montserrat-SemiBold.otf');
}

@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat/Montserrat-Regular.otf');
}

@font-face {
  font-family: Montserrat Bold;
  src: url('../fonts/Montserrat/Montserrat-Bold.otf');
}

@font-face {
  font-family: Myriad Pro Regular;
  src: url('../fonts/Myriad/Myriad Pro Regular.ttf');
}

body{
    margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px;
    padding: 0;
}

/* Begin Header area */
.main-header-container {
  border-top:3px rgb(195, 201, 205) solid;
  border-bottom:3px rgb(195, 201, 205) solid;
  background-color: rgb(239, 240, 242);
  left: 0px;
  top: 0px;
  width: 100%;
  height: 111px;
  z-index: 281;
  padding:0;
}

.fixed-header-container {
    position: relative;
    top:-3px;
    padding:0;
  margin:auto;
  width: 1171px;
  height: 100%;
  z-index: 316;
  font-size: 0px; 
}

.logo-link {
  display:inline-block;
}

.logo-link {
    background-color: rgb(20, 92, 143);
  margin:0;
  position: relative;
  left: 0px;
  top: 0px;
  width: 248px;
  height: 111px;
  z-index: 313;
  border-bottom: rgb(18, 80, 125) solid 3px;
    text-align: center;
    padding-top: 37px;
}

.maple-leaf-img {
    display: inline-block;
    margin-left: 33px;
    margin-right: 12px;
    margin-bottom: 28px;
    vertical-align: bottom;
}

.tagline-container {
  display: inline-block;
  height: 111px;
  font-size: 0px;
    vertical-align: top;
    position: relative;
}

.tagline-call {
  font-size: 22.5px;
    font-family: "Lato";
    color: rgb(38, 53, 68);
    text-transform: uppercase;
    line-height: 0.844;
    text-align: left;
    position: relative;
    top: 40px;
    height: 18px;
    vertical-align: top;
    z-index: 308;
    left: 0px;
    display: block;
}

.tagline-text {
    font-size: 16px;
    font-family: "Lato Bold Italic";
    color: rgb(93, 110, 122);
    font-weight: bold;
    font-style: italic;
    line-height: 1.188;
    text-align: left;
    position: absolute;
    bottom: 29px;
    z-index: 308;
}

.account-container {
    border-width: 1px;
    border-color: rgb(222, 223, 225);
    border-style: solid;
    background-color: rgb(239, 240, 242);
    position: absolute;
    right: 0px;
    top: 29px;
    width: 334px;
    height: 51px;
    z-index: 304;
    text-align: center;
}

.account-info-container {
    font-size: 14px;
    line-height: 1.056;
    z-index: 305;
    display: inline-block;
    position: relative;
    bottom: -17px;
}

.wishlist-container {
  font-size: 14px;
  color: rgb(20, 92, 143);
  line-height: 1.056;
  z-index: 305;
  display:inline-block;
}

.account-icon {
  font-family: "Ionicons";
  font-size: 18px;
  display:inline-block;  
  font-family: "Ionicons";
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
}
/* End Header area */



/* Begin Navigation area */
.main-navigation-container {
  background-color: rgb(38, 53, 68);
  left: 0px;
  top: 111px;
  width: 100%;
  height: 78px;
  z-index: 283;
  padding:0;
}

.fixed-navigation-container {
    position: relative;
    padding:0;
  margin:auto;
  width: 1171px;
  height: 100%;
  z-index: 316;
  font-size: 0px;
}

.nav {
  float: left !important;
}

      /*Categories Menu*/
.categories-menu a {
  height:100%;
  color: rgb(161, 174, 183);
    background: transparent !important;
  background-color: transparent !important;
}

.categories-menu {
    font-size: 22px;
    font-family: "Ionicons Medium";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 0.864;
    text-align: center;
    float: left;
    display: inline-block;
    height: 100%;
    z-index: 300;
    width: 248px;
    background-color: rgb(44, 66, 88);
    text-decoration: none;
}

.categories-menu a:hover {
  color: rgb(255, 255, 255) !important;
  text-decoration: none;
  background: transparent !important;
  background-color: transparent !important;
}

.categories-menu a:visited, .regular-menu a:focus {
    text-decoration: none;
    color: rgb(161, 174, 183);
    background: transparent !important;
  background-color: transparent !important;
}

.categories-menu a:active {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background: transparent !important;
  background-color: transparent !important;
}

.category-nav-icon {
    position: relative;
    top: 29px;
    color: rgb(255, 255, 255);
}

.category-menu-text {
  font-size: 18px;
  font-family: "Lato Black";  
      font-weight: bold;
    text-transform: uppercase;
}
      /*End Categories Menu*/
      /*Regular Menu*/
.regular-menu a:hover {
  color: rgb(255, 255, 255) !important;
  text-decoration: none;
  background: transparent !important;
  background-color: transparent !important;
}

.regular-menu a:visited, .regular-menu a:focus {
    text-decoration: none;
    color: rgb(161, 174, 183);
    background: transparent !important;
  background-color: transparent !important;
}

.regular-menu a:active {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background: transparent !important;
  background-color: transparent !important;
}
    /*brands has slightly different margins*/
.brands-item {
    font-size: 16px;
    font-family: "Ionicons";
    color: rgb(161, 174, 183);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.188;
    display: inline-block;
    float: left;
    margin-top: 30px;
    margin-left: 34px;
}

.menu-item {
      font-size: 16px;
    font-family: "Ionicons";
    color: rgb(161, 174, 183);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.188;
    display: inline-block;
    float:left;
    margin-top: 30px;
    margin-left: 43px;
}

.brands-item span, .menu-item span {
  font-size: 16px;
  font-family: "Lato";
}
      /*End Regular Menu*/
      /* Right hand menu */
.search-container {
  background-color: rgb(20, 92, 143);
  float:right;
  width: 80px;
  height: 78px;
  z-index: 290;
}

.cart-container {
  background-color: rgb(228, 190, 75);
  float:right;
  width: 78px;
  height: 78px;
  z-index: 285;
}

.search-icon, .cart-icon {
  position:relative;
    font-size: 30px;
  font-family: "Ionicons";
  color: rgb(255, 255, 255);
  line-height: 0.633;
}

.search-icon {
  top:20px;
  left:30px;
}

.cart-icon {
  top:18px;
  left:27px;
}

.search-text, .cart-text {
    position: relative;
    font-size: 12px;
    font-family: "Lato";
    color: rgb(254, 254, 254);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.583;
    left: 17px;
    top: 33px;
}
      /* End Right hand menu */
      /*override bootstrap changing backgrounds*/
.open a {
  color: rgb(255, 255, 255) !important;
  text-decoration: none;
  background: transparent !important;
  background-color: transparent !important;
}
/* End Navigation */

/* End Navigation area */


/* Begin Breadcrum area */

.main-breadcrumb-container li {
  float:left;
  list-style: none;
}

.main-breadcrumb-container {
  background-color: rgb(236, 238, 239);
  opacity: 0.502;
  left: 0px;
  width: 100%;
  height: 54px;
  z-index: 278;
}

.fixed-breadcrumb-container {
      position: relative;
    padding:0;
  margin:auto;
  width: 1171px;
  height: 100%;
  z-index: 316;
  font-size: 0px;
}

.breadcrumb-text {
    font-size: 14px;
    font-family: "Lato";
    color: rgb(20, 92, 143);
    font-weight: bold;
    line-height: 1.357;
    text-align: left;
    margin:22px 8px 0px 0px;
}
.breadcrumb-text a {
  margin-right: 6px;
      font-size: 14px;
    font-family: "Lato";
    color: rgb(93, 110, 122);
}


/*!
 * Yamm!3 - Yet another megamenu for Bootstrap 3
 * http://geedmo.github.com/yamm3
 * 
 * @geedmo - Licensed under the MIT license
 */
.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
  position: static;
  height:100%;
}
.yamm .container {
  position: relative;
}
.yamm .dropdown-menu {
  left: auto;
}
.yamm .yamm-content {
  padding: 20px 30px;
}
.yamm .dropdown.yamm-fw .dropdown-menu {
  left: 0;
  right: 0;
}


/*//////////////////////////////////////////////////////
////////////////////////////////////////////////////////
///////////// DROPDOWN MENU ////////////////////////////
*/
/*!
 * Yamm!3
 * Yet another megamenu for Bootstrap
 * http://geedmo.github.com/yamm3
 *
 * Demo styles
 */
/* menu styes */
.list-unstyled,
.list-unstyled ul { min-width: 120px }
@media ( min-width: 767px ) {
  .panel-group { width: 400px; }
  .thumbnail { margin: 0; }
}
/* Navbar fixes */
.navbar {
     margin-bottom: 0px !important; 
     border: none !important; 
     border-radius: 0px !important;
     height:100%;
}

.nav li a {
    padding: 0 !important;
}

.nav li {
  float: left;
}

.dropdown-menu {
    
     padding: 0 !important;
     margin:0 !important;
     border: none !important;
     border: none !important;
     border-radius: 0px !important;
     -webkit-box-shadow: none !important;
     box-shadow: none !important;
}

.grid-dropdown [class*="dropdown-column-"] {
  float:left;
  height: 782px;
}

.dropdown-column-one {
    
    width: 248px;
    padding: 0;
    background-color: rgb(38, 53, 68);
}

.dropdown-column-two {
    width:304px;
    padding: 34px 0px 30px 33px;
    background-color: rgb(255, 255, 255);
}

.dropdown-column-three {
    width:304px;
    padding: 34px 0px 30px 33px;
    background-color: rgb(255, 255, 255);
}

.dropdown-column-four {
    width: 314px;
    float:right;
    padding: 0;
    background-image:url('../images/LeCreuset-MegaMenu-Ad.jpg');
    background-color: rgb(255, 255, 255);
}

.grid-dropdown [class*="dropdown-column-"] ul {
  list-style-type: none;
  text-align: left;
  padding:21px 0 20px 0;
}

.dropdown-column-one li {
  height: 44px;
  width: 248px;
  padding-left:0;
}

.dropdown-column-one li a {
  color: rgb(161, 174, 183) !important;
  text-transform: uppercase;
  padding-left: 30px !important;
  height: 44px;
  width: 248px;
  text-align: left;
  font-size: 14px;
  font-family: "Lato";
  line-height: 3.143;
}

.dropdown-column-one li:hover, .dropdown-column-one li:hover a {
      background-color: rgb(44, 66, 88);
      color: rgb(254, 254, 254) !important;
      cursor: pointer;
}

.dropdown-column-one .active {
      background-color: rgb(44, 66, 88);
      color: rgb(254, 254, 254) !important;
}

.dropdown-menu {
  width: 100%; 
}

.category-name {
    font-size: 18px;
  font-family: "Montserrat";
  color: rgb(38, 53, 68);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.056;
}
/*//////////////////////////// END DROPDOWN */

/* Begin Product View */
.product-view {
    border-width: 2px;
  border-color: rgb(222, 223, 225);
  border-style: solid;
  margin:55px auto auto auto;
  left: 374px;
  top: 298px;
  width: 1167px;
  height: 747px;
  z-index: 173;
}

.product-img-box {
  border-width: 1px;
  border-color: rgb(222, 223, 225);
  border-style: solid;
  position: relative;
  left: 37px;
  top: 39px;
  width: 496px;
  height: 496px;
  z-index: 264;
  display:table-cell;
  text-align: center;
  vertical-align: middle;
}

.product-img-container {
    position: relative;
    width: 534px;
    height: 648px;
    z-index: 273;
    float: left;
  }

.product-shop {
    position: relative;
    margin: 39px 0 0 67px;
    width: 514px;
    z-index: 273;
    float: left;
}

.free-gift {
  width: 207px;
  height: 76px;
  position: absolute;
  top:30px;
  left:-19px;
}

    /* Product View Right Side */
.product-name h1 {
    font-size: 24px;
  font-family: "Merriweather Bold";
  color: rgb(38, 53, 68);
  line-height: 1.5;
}



.tag-icon {
  font-size: 18px;
  font-family: "Ionicons";
  color: rgb(255, 255, 255);
  vertical-align: middle;
}

.dollar-tag-icon {
  font-size: 18px;
  font-family: "Myriad Pro Regular";
  color: rgb(255, 255, 255);
  vertical-align: middle;
}

.tag-container {
  margin-right: 5px;
  float:left;
}

.last-tag-container {
  float:left;
}

.outofstock-tag-container {
  background-color: rgb(231, 76, 60);
      width: 155px;

  font-size: 14px;
  font-family: "Montserrat Semi Bold";
  color: rgb(255, 255, 255);
  height: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  float:left;
}

.info-open-box {
  border-top: solid 3px rgb(222, 223, 225);
  border-bottom: solid 3px rgb(222, 223, 225);
  width: 508px;
  height:55px;
  margin-top:21px;
  font-size: 14px;
  font-family: "Merriweather Bold";
  color: rgb(93, 110, 122);
  line-height: 44px;
}

.unfilled-stars {
  font-size: 20px;
  font-family: "Ionicons";
  color: rgb(93, 110, 122);
  vertical-align: middle;
}

.filled-stars {
  font-size: 20px;
  font-family: "Ionicons";
  color: rgb(20, 92, 143);
  vertical-align: middle;
}

.add-review-icon {
  font-size: 18px;
  font-family: "Ionicons";
}

.short-description h2 {
    font-size: 18px;
    margin-top: 42px;
    margin-bottom: 13px;
    text-transform: uppercase;
  font-family: "Montserrat";
  color: rgb(38, 53, 68);
  font-weight: bold;
}

.short-description .std {
  font-size: 14px;
  font-family: "Merriweather";
  color: rgb(93, 110, 122);
  line-height: 1.357;
  width: 508px;
}

.current-price {
    font-size: 48px;
    line-height: 43px;
    height: 49px;
    font-family: "Montserrat Bold";
    color: rgb(228, 190, 75);
    float: left;
    margin-top: 32px;
}

.other-prices {
    margin:38px 26px 0px 12px;
    float: left;
}

.msrp-price {
    font-size: 14px;
    line-height: 14px;
    font-family: "Montserrat Semi Bold";
    color: rgb(93, 110, 122);
    text-transform: uppercase;
}

.regular-price {
    font-size: 20px;
    line-height: 20px;
    font-family: "Montserrat";
    color: rgb(93, 110, 122);
    text-transform: uppercase;
    text-decoration: line-through;
    letter-spacing: -1px;
}

.info-logo-container {
  float:left;
  margin-top: 40px;
}

.add-to-box {
  float:left;
}

.add-to-cart label {
    font-size: 16px;
  font-family: "Merriweather Bold";
  color: rgb(93, 110, 122);
   text-transform: uppercase;
  border-width: 2px;
  border-color: rgb(222, 223, 225);
    border-top: solid 2px rgb(222, 223, 225);
  border-right: 0;
  border-bottom: solid 2px rgb(222, 223, 225);
  border-left: solid 2px rgb(222, 223, 225);
  border-style: solid;
    width: 78.5px;
  height: 62px;
  line-height: 62px;
  text-align: center;
  float:left;
}

.add-to-cart input {
  background-color: rgb(245, 246, 247);
  border-top: solid 2px rgb(222, 223, 225);
  border-right: solid 2px rgb(222, 223, 225);
  border-bottom: solid 2px rgb(222, 223, 225);
  border-left: solid 2px rgb(222, 223, 225);
    width: 80px;
  height: 62px;
    line-height: 62px;
  float:left;
    font-size: 24px;
  font-family: "Montserrat Bold";
  color: rgb(93, 110, 122);
  text-align: center;
}

.add-to-cart button span span:before {
  font-size: 24px;
  font-family: "Ionicons";
  color: rgb(255, 255, 255);
  padding-right:10px;
  content: "Ôè∏";
  vertical-align: middle;
}

.add-to-cart button span span {
  font-size: 16px;
  font-family: "Lato Bold";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 16px;


}

.add-to-cart button {
  margin-left:13px;
      width: 206px;
  height: 62px;
    border-width: 2px;
  border-color: rgb(20, 92, 143);
  border-style: solid;
  background-color: rgb(20, 92, 143);
}

.favourite-box {
  float:left;
    width: 60px;
  height: 62px;
    border-width: 2px;
    font-size: 24px;
    font-family: "Ionicons";
    color: rgb(255, 255, 255);
    line-height: 62px;
    text-align: center;
  border-color: rgb(67, 125, 165);
  border-style: solid;
  background-color: rgb(67, 125, 165);
}

.suitable-for {
  font-family: "Merriweather Italic";
  font-size: 16px;
      margin-right: -2px;
      color: rgb(93, 110, 122);
}

.suitable-container span {
  vertical-align: middle;
}

.suit-icon {
  font-family: "Ionicons";
  font-size: 18px;
  margin-left:19px;
  color: rgb(198, 204, 208);
}

.suitable-container {
  font-family: "Merriweather Bold";
  font-size: 14px;
  color: rgb(93, 110, 122);
      line-height: 49px;
}

.security-banners {
  margin-top:23px;
  float:left;
  margin-left: 4px;
}

.security-privacy {
  margin-right: 7px;
}

.share-container {
  margin-top:23px;
  border-width: 2px;
  border-color: rgb(222, 223, 225);
  border-style: solid;
  background-color: rgb(255, 255, 255);
  font-family: "Montserrat Semi Bold";
  color: rgb(93, 110, 122);
  width: 93px;
  height: 36px;
  float:right;
  text-align: center;
      line-height: 32px;
}

.share-icon-drop {
    font-family: "Ionicons";
    font-size: 16px;
    color: rgb(93, 110, 122);
}

.share-icon {
    font-family: "Ionicons";
    font-size: 16px;
    color: rgb(156, 172, 182);
        vertical-align: middle;
}

.freegift-banner {
  margin-top:22px;
  float:left;
}

.freeshipping-banner {
  margin-top:32px;
  float:right;
}

.fixed-container {
  margin:auto;
  width: 1171px;
}
/* End Product View */